/* 
    Document   : style
    Created on : 11-mar-2011, 23:54:17
    Author     : Lenscak, José Francisco <Malguzt>
    Description:
        Simple style for my sanke.
*/

root { 
  display: block;
}

body{
  background-image: url(argentina_back_flag.jpg);
  background-repeat: no-repeat;
  background-color: black;
}

p{
  color: white;
}

#data{
  position: absolute;
  top: 200px;
}

#data p{
  color: green;
  font-weight: 900;
}

#lives{
  color: red;
}

#pause{
  color: red;
  font-size: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
  display: none;
}

a{
  color: white;
}

#links{
  clear: both;
}

#honorRoll{
  margin: auto;
}

#honorRoll td{
  border: 2px;
  border-style: double;
  border-color: white;
  color: white;
}

#honorRoll th{
  border: 3px;
  border-style: groove;
  border-color: white;
  color: white;
}

#divCanvas{
  border: 3px;
  border-color: white;
  float: right;
  border-style: solid;
}